<!DOCTYPE html>
<html>
    <head>
        <title>Name Page</title>
    </head>

    <body>

        HWSI Temperature Logger</br></br>

        <input type="file" id="myFile">

        <br><br>

        <form action="/">
            Loging path:</br></br>
            <input type="text" name="logging_path_form_field" value="\\karczoch2\HWIV"><br>
            <br>
            <input type="submit" value="validate path">
            <br><br>
        </form>

        Logging path: {{logging_path_html_param}}<br>
        access: {{can_acess_logging_path_html_param}}<br>
        <br><br>

        <form action="/action">
            <input type="checkbox" name="t1" value="on" checked> Termometer 1<br>
            <input type="checkbox" name="t2" value="on"> Termometer 2<br>
            <input type="checkbox" name="t3" value="on"> Termometer 3<br>
            <br>
            <input type="submit" value="Start!">
        </form>

    </body>
</html>